blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bebebe;
  background-color: transparent;
  color: #fff;
}

.hero-section {
  position: relative;
  padding-top: 229px;
  padding-bottom: 239px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-title {
  position: relative;
  margin-top: 150px;
  padding: 6px 6px 6px 5px;
  float: right;
  background-color: rgba(0, 208, 255, .59);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.hero-overlay {
  display: block;
  background-image: url('../images/o.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
}

.navbar-link {
  font-family: 'Varela Round', sans-serif;
  color: #3f3f3f;
  font-size: 13px;
  font-weight: 400;
}

.hero-container {
  height: 700px;
}

.howto {
  position: relative;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc9c9;
  border-radius: 4px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.howto:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 11px dotted #fdfdfd;
}

.howto-desc {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

.howto-number {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 153, 0, .82);
  color: hsla(0, 0%, 100%, .8);
  font-size: 19px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.howto-number.number2 {
  top: -10px;
  right: -12px;
  color: hsla(0, 0%, 65%, .8);
}

.howto-number.number1 {
  top: -10px;
  right: -35px;
}

.section-header {
  width: 271px;
  margin: 20px auto;
  padding-bottom: 8px;
  border-bottom: 1px solid #525151;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

.footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #292929;
}

.howto-image-block {
  height: 160px;
}

.howto-image-block.oturma-grubu {
  background-image: url('../images/istikbal-dynamic-s-maksi-takim-290814-8.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.howto-image-block.arac {
  background-image: url('../images/OCFIAT-3-2-1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.howto-image-block.yatak {
  background-image: url('../images/yatak-yikama-islemleri.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.howto-image-block.konferans {
  background-image: url('../images/4_7.jpg');
  background-position: 0px 0px;
  background-size: 540px;
}

.howto-image-block.isyeri {
  background-image: url('../images/RAMAY-KOLTUK-DÖŞEME-MOBİLYA-DEKORASYON-İZMİR-Berjer-Koltuk-DÖŞEME-Cafe-Bar-Restoran-Dekorasyon-Koltuk-DÖŞEME-Hisarönü-İZMİR.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.quote-slide {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.slide-quote {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  font-style: italic;
}

.quote-slider {
  background-color: transparent;
}

.top-section {
  padding-top: 120px;
}

.top-section.section {
  padding-top: 91px;
}

.before-after-block {
  margin-bottom: 20px;
}

.before-block {
  position: relative;
}

.before-after-text {
  position: absolute;
  top: 10%;
  z-index: 1;
  width: 90px;
  height: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
  border-radius: 45px;
  background-image: -webkit-linear-gradient(270deg, rgba(255, 153, 0, .82), rgba(255, 153, 0, .82));
  background-image: linear-gradient(180deg, rgba(255, 153, 0, .82), rgba(255, 153, 0, .82));
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.before-after-text.before-text {
  left: 10%;
  height: 90px;
}

.before-after-text.after-text {
  right: 10%;
  background-image: url('../images/flora-square-logo.png'), -webkit-linear-gradient(270deg, hsla(30, 40%, 98%, .82), hsla(30, 40%, 98%, .82));
  background-image: url('../images/flora-square-logo.png'), linear-gradient(180deg, hsla(30, 40%, 98%, .82), hsla(30, 40%, 98%, .82));
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.dotted-block {
  position: absolute;
  top: 10%;
  width: 80%;
  margin-top: 42px;
  border-bottom: 6px dotted #fff;
  opacity: 0.51;
}

.dotted-block.before-dotted {
  right: 0px;
}

.dotted-block.after-dotted {
  left: 0px;
}

.price-image {
  float: left;
  border-right: 10px solid #fff;
}

.price-dot {
  height: 25px;
  border-bottom: 1px dashed #000;
}

.price {
  height: 50px;
  padding-left: 20px;
  float: right;
  background-color: #fff;
  line-height: 50px;
}

.body {
  font-size: 25px;
}

.price-block {
  margin-bottom: 20px;
}

.footer-tel-text {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
}

.footer-title {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  color: #000;
  font-weight: 400;
}

.footer-links {
  padding-left: 0px;
  text-decoration: none;
  list-style-type: none;
}

.footer-link {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #b6b6b6;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.footer-heading {
  color: #e9e9e9;
}

.slider {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 100%;
}

.slide-1 {
  background-image: -webkit-linear-gradient(270deg, #e9eeff, transparent), url('../images/o.jpg');
  background-image: linear-gradient(180deg, #e9eeff, transparent), url('../images/o.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, repeat;
}

.slide1-title {
  margin-top: 212px;
  font-weight: 400;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.row-block-title {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.row-block {
  margin-bottom: 40px;
}

.heading {
  width: 400px;
}

.long-heading {
  width: 100%;
}

html.w-mod-js *[data-ix="lefttoright"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

@media (max-width: 991px) {
  .menu-icon {
    color: #555;
  }
}